<div class="form-horizontal" style="text-align:center; margin-top:100px;">
  <h1>Account Settings</h1>
  <br>
  <%= form_for @user, html: { multipart: true } do |f| %>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-4">
      <%= f.file_field :avatar %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-4">
      <%= f.text_field :first_name, placeholder: "First name", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-4">
      <%= f.text_field :last_name, placeholder: "Last name", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-4">
      <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-4">
      <%= f.password_field :password, placeholder: "New password", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-4">
      <%= f.password_field :password_confirmation, placeholder: "Confirm password", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit "Update Settings", class: "btn btn-primary", style: "padding: 10px 100px 10px 100px; border-radius: 30px; color: white; background-color:#0094FF; font-family:Helvetica;"%>
  </div>
  <% end %>
</div>
