<nav class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #0094FF;">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="<%= root_path %>">Merry</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to "Get Started", new_user_path %>
              </li>
              <li>
                  <%= link_to "About", "/pages/about" %>
              </li>
              <li>
                  <%= link_to "Contact", new_contact_path %>
              </li>
              <% if user_signed_in? %>
                <li><%= link_to "#{current_user.name}", user_path(:id) %><li>
              <% else %>
                <li><%= link_to "Sign In", new_session_path %></li>
              <% end %>
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="text-align:center; margin-top:80px;">
  <h1>Upload a photo ID</h1>
  <p>
    We need to verify your identity. Please upload a photo of your driver's license or other government-issued photo ID.
  </p>
  <i class="fa fa-4x fa-camera-retro" aria-hidden="true"></i>
</div>
